@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@use "sass:math";
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: 'Roboto';
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 75rem) {
  .container {
    width: 71.25rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .container {
    width: 60rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .container {
    width: 45rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .container {
    width: 33.75rem;
  }
}

@media screen and (max-width: 36rem) {
  .container {
    width: 320px;
  }
}

.hero {
  background: #000 url("../img/hero-back.jpg") 60% 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-header {
  margin: 1.25rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header-logo {
  width: 2.5rem;
  height: 2.5rem;
}

.hero-header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -1.25rem;
}

@media screen and (min-width: 0px) and (max-width: 62rem) {
  .hero-header-list {
    display: none;
  }
}

.hero-header-list-item {
  list-style-type: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin: 0 1.25rem;
  font-size: 0.875rem;
  line-height: 150%;
  color: #FFFFFF;
  cursor: pointer;
}

.hero-header-list-item:hover {
  text-shadow: 0 0 0.625rem #FFFFFF;
}

.hero-header-button {
  width: 11.25rem;
  height: 2.5rem;
  border: none;
  border-radius: 1000px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero-header-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 0.75rem #7C6AFA;
          box-shadow: 0 0 0.75rem #7C6AFA;
}

.hero-header-button-text {
  color: #FFFFFF;
  font-size: 0.875rem;
}

.hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  margin-bottom: 11.25rem;
}

@media screen and (min-width: 0px) and (max-width: 62rem) {
  .hero-body {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 62rem) {
  .hero-body {
    margin-bottom: 5rem;
  }
}

.hero-body-title {
  width: 60%;
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 140%;
  color: #FFFFFF;
}

.hero-body-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
  margin-top: 2.1875rem;
}

.hero-body-timer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 6.25rem;
  min-height: 6.25rem;
  background: #121212;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-body-timer-item-time {
  font-weight: bold;
  font-size: 2.25rem;
  color: #FFFFFF;
  text-align: center;
}

.hero-body-timer-item-description {
  margin-top: 0.25rem;
  font-weight: normal;
  font-size: 0.875rem;
  text-align: center;
  color: #717171;
}

.buy {
  padding: 1.875rem 0;
  background: #121212;
}

.buy .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.625rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy-button {
  width: 10.625rem;
  height: 2.75rem;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border: none;
  border-radius: 100px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: auto 0;
}

.buy-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 0.75rem #da1244;
          box-shadow: 0 0 0.75rem #da1244;
}

.buy-button-text {
  font-weight: bold;
  font-size: 1rem;
  color: #FFFFFF;
}

.buy-pupils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy-pupils-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
}

.buy-pupils-item-left {
  text-align: left;
  font-size: 1rem;
  color: #FFFFFF;
  opacity: 0.4;
}

.buy-pupils-item-right {
  margin-left: 1.625rem;
  text-align: right;
  font-weight: bold;
  font-size: 1rem;
  color: #FFFFFF;
}

.buy-earned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -0.25rem 0;
}

@media screen and (min-width: 0) and (max-width: 62rem) {
  .buy-earned {
    display: none;
  }
}

.buy-earned > * {
  margin: 0.25rem 0;
}

.buy-earned-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.buy-earned-all-text {
  font-weight: normal;
  font-size: 1rem;
  color: #FFFFFF;
  opacity: 0.4;
}

.buy-earned-all-total {
  font-weight: bold;
  font-size: 1rem;
  color: #FFFFFF;
  margin-left: 1.875rem;
}

.buy-earned-scale-full {
  width: 37.5rem;
  height: 0.375rem;
  background: #FFFFFF;
  border-radius: 100px;
}

.buy-earned-scale-now {
  width: 40%;
  height: 100%;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 100px;
  margin-left: 0px;
}

.buy-earned-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy-earned-descr-text {
  font-weight: normal;
  font-size: 1rem;
  color: #FFFFFF;
  opacity: 0.4;
}

.info {
  overflow: hidden;
  background: repeating-linear-gradient(transparent, transparent 0.5rem, #161616 0.625rem), repeating-linear-gradient(90deg, #000, #000 0.5rem, #161616 0.625rem);
}

.info .container {
  margin: 7.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 9.375rem;
}

.info-what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 0px) and (max-width: 62rem) {
  .info-what {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 0px) and (max-width: 62rem) {
  .info-what {
    gap: 8.75rem;
  }
}

.info-what-decoration-border {
  width: 25rem;
  height: 25rem;
  border: 1.875rem solid skyblue;
  -o-border-image: linear-gradient(135deg, #C89AFC, #7C6AFA);
     border-image: linear-gradient(135deg, #C89AFC, #7C6AFA);
  border-image-slice: 1;
}

.info-what-decoration-border-img {
  z-index: 3;
  margin: 0 auto;
  margin-top: 1.25rem;
  height: 23.75rem;
}

.info-what-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -6%;
}

.info-what-descr-title {
  font-weight: bold;
  font-size: 2.75rem;
  color: #FFFFFF;
}

.info-what-descr-text {
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  color: #FFFFFF;
  line-height: 160%;
}

.info-start-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.25rem;
}

.info-start-title-img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 5.625rem;
  height: 2.8125rem;
}

.info-start-title-text {
  font-style: normal;
  font-weight: bold;
  font-size: 2.75rem;
  color: #FFFFFF;
  margin: auto 0;
}

.info-start-descr {
  margin-top: 2.875rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.5;
}

.info-start-progress {
  margin-top: 3.75rem;
}

.info-start-progress-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-start-progress-title-item {
  font-weight: bold;
  font-size: 1.875rem;
  color: #FFFFFF;
}

.info-start-progress-scale {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-start-progress-scale-item:nth-child(odd) {
  background: -webkit-gradient(linear, left top, right top, from(#C89AFC), to(#7C6AFA));
  background: linear-gradient(90deg, #C89AFC, #7C6AFA);
}

.info-start-progress-scale-item:nth-child(even) {
  background: -webkit-gradient(linear, left top, right top, from(#7C6AFA), to(#C89AFC));
  background: linear-gradient(90deg, #7C6AFA, #C89AFC);
}

.info-start-progress-scale-item:nth-child(1) {
  height: 4.5rem;
}

.info-start-progress-scale-item:nth-child(2) {
  height: 2.5rem;
}

.info-start-progress-scale-item:nth-child(3) {
  height: 1.5rem;
}

.info-start-progress-scale-item:nth-child(4) {
  height: 0.5rem;
}

.info-start-progress-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.875rem;
}

.info-start-progress-descr-item {
  margin-right: -0.625rem;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.5;
}

.info-get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}

.info-get-title {
  font-weight: bold;
  font-size: 3rem;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}

.info-get-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -2.5rem auto;
}

.info-get-items-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 21.25rem;
  margin: 2.5rem 0;
}

.info-get-items-item * {
  margin: 0 auto;
}

.info-get-items-item-img {
  height: 5rem;
  width: 5rem;
}

.info-get-items-item-title {
  margin-top: 2.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.info-get-items-item-descr {
  margin-top: 1.875rem;
  font-weight: normal;
  font-size: 1rem;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */