@import url("../fonts/BuyanBold.ttf");
@import url("../fonts/BuyanRegular.ttf");
@import url("../fonts/BuyanThin.ttf");
@import url("../fonts/Lemon Tuesday.otf");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@use "sass:math";
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: 'Montserrat';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 75rem) {
  .container {
    max-width: 71.25rem;
    min-width: 71.25rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .container {
    max-width: 60rem;
    min-width: 60rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .container {
    max-width: 45rem;
    min-width: 45rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .container {
    max-width: 33.75rem;
    min-width: 33.75rem;
  }
}

@media screen and (max-width: 36rem) and (min-width: 0px) {
  .container {
    max-width: 22.5rem;
    min-width: 22.5rem;
  }
}

@font-face {
  font-family: 'Buyan';
  src: url("../fonts/BuyanBold.ttf");
  font-weight: 700;
  font-style: 'normal';
}

@font-face {
  font-family: 'Buyan';
  src: url("../fonts/BuyanRegular.ttf");
  font-weight: 400;
  font-style: 'normal';
}

@font-face {
  font-family: 'Buyan';
  src: url("../fonts/BuyanThin.ttf");
  font-weight: 100;
  font-style: 'normal';
}

@font-face {
  font-family: 'Lemon Tuesday';
  src: url("../fonts/Lemon Tuesday.otf");
  font-weight: 400;
  font-style: 'normal';
}

.anim-link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(#000, #000);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.125rem;
  -webkit-transition: background-size .2s;
  transition: background-size .2s;
}

.anim-link:hover {
  background-size: 100% 0.125rem;
  color: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E6FFC6;
  border-bottom: 0.125rem solid #73FF42;
  height: 3.375rem;
  text-decoration: none !important;
  position: fixed;
  width: 100vw;
  isolation: auto;
  z-index: 999;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none !important;
  cursor: pointer;
}

.header-brand-logo {
  width: 2.3125rem;
  height: 3.125rem;
}

.header-brand-title {
  font-family: 'Buyan';
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  color: #000000;
  margin-left: 1.375rem;
  text-decoration: none !important;
}

.header-brand-title:hover, .header-brand-title:active {
  color: #000;
}

.header-menu {
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 75rem) {
  .header-menu {
    display: none;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .header-menu {
    display: none;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .header-menu {
    display: block;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .header-menu {
    display: block;
  }
}

@media screen and (max-width: 36rem) {
  .header-menu {
    display: block;
  }
}

.header-buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0 -1rem;
}

@media screen and (min-width: 75rem) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .header-buttons {
    display: none;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .header-buttons {
    display: none;
  }
}

@media screen and (max-width: 36rem) {
  .header-buttons {
    display: none;
  }
}

.header-buttons-item {
  margin: 0 1rem;
  color: #000;
  text-decoration: none !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  padding: 0.25rem 0;
}

.header-buttons-item:hover, .header-buttons-item:active {
  color: #000;
}

.hero {
  margin-top: 3.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #FDFFE6), color-stop(100%, rgba(244, 250, 179, 0)), to(#FFFFFF));
  background: linear-gradient(180deg, #FDFFE6 100%, rgba(244, 250, 179, 0) 100%, #FFFFFF 100%);
}

@media screen and (min-width: 75rem) {
  .hero {
    padding: 8.75rem 0;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero {
    padding: 8.75rem 0;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero {
    padding: 7.5rem 0;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero {
    padding: 6.875rem 0;
  }
}

@media screen and (max-width: 36rem) {
  .hero {
    padding: 6.25rem 0;
  }
}

.hero .container {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero-img {
  margin: auto 0;
  position: absolute;
  z-index: 0;
  isolation: auto;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

@media screen and (min-width: 75rem) {
  .hero-img {
    height: 28.75rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-img {
    height: 25rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-img {
    height: 23.75rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-img {
    height: none;
  }
}

@media screen and (max-width: 36rem) {
  .hero-img {
    height: none;
  }
}

@media screen and (min-width: 75rem) {
  .hero-img {
    left: 0rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-img {
    left: 0;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-img {
    left: -3.75rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-img {
    left: none;
  }
}

@media screen and (max-width: 36rem) {
  .hero-img {
    left: none;
  }
}

@media screen and (min-width: 75rem) {
  .hero-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-img {
    display: none;
  }
}

@media screen and (max-width: 36rem) {
  .hero-img {
    display: none;
  }
}

@media screen and (min-width: 75rem) {
  .hero-img {
    opacity: 1;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-img {
    opacity: 1;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-img {
    opacity: 0.5;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-img {
    opacity: none;
  }
}

@media screen and (max-width: 36rem) {
  .hero-img {
    opacity: none;
  }
}

.hero-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0;
  z-index: 1;
}

@media screen and (min-width: 75rem) {
  .hero-desc {
    width: 50%;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-desc {
    width: 60%;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-desc {
    width: 60%;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-desc {
    width: 100%;
  }
}

@media screen and (max-width: 36rem) {
  .hero-desc {
    width: 100%;
  }
}

@media screen and (min-width: 75rem) {
  .hero-desc {
    float: right;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-desc {
    float: right;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-desc {
    float: right;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-desc {
    float: none;
  }
}

@media screen and (max-width: 36rem) {
  .hero-desc {
    float: none;
  }
}

@media screen and (min-width: 75rem) {
  .hero-desc {
    margin-left: 0;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-desc {
    margin-left: 0;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-desc {
    margin-left: 0;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-desc {
    margin-left: auto;
  }
}

@media screen and (max-width: 36rem) {
  .hero-desc {
    margin-left: auto;
  }
}

@media screen and (min-width: 75rem) {
  .hero-desc {
    margin-right: 0;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-desc {
    margin-right: 0;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-desc {
    margin-right: 0;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-desc {
    margin-right: auto;
  }
}

@media screen and (max-width: 36rem) {
  .hero-desc {
    margin-right: auto;
  }
}

.hero-desc-title {
  font-family: 'Lemon Tuesday';
  font-style: normal;
  font-weight: 400;
  line-height: 4.125rem;
  letter-spacing: 0.03rem;
  color: #000000;
}

@media screen and (min-width: 75rem) {
  .hero-desc-title {
    font-size: 2.75rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-desc-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-desc-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-desc-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 36rem) {
  .hero-desc-title {
    font-size: 2.5rem;
  }
}

.hero-desc-text {
  margin-top: 2.5rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  color: #000000;
}

@media screen and (min-width: 75rem) {
  .hero-desc-text {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .hero-desc-text {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .hero-desc-text {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .hero-desc-text {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 36rem) {
  .hero-desc-text {
    font-size: 1rem;
  }
}

.diskounts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #D3FFA7;
  padding: 2.25rem 0;
}

.diskounts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diskounts-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diskounts-top-title {
  font-family: 'Buyan';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.03rem;
  color: #000000;
}

@media screen and (min-width: 75rem) {
  .diskounts-top-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .diskounts-top-title {
    font-size: 2.375rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .diskounts-top-title {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .diskounts-top-title {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 36rem) {
  .diskounts-top-title {
    font-size: 2rem;
  }
}

.diskounts-top-button {
  padding: 0.375rem 1.25rem;
  background: #E2FFBE;
  border: 0.125rem solid #98C967;
  -webkit-box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.08);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  color: #000000;
  text-decoration: none !important;
  cursor: pointer;
  margin-left: 3.125rem;
  -webkit-transition: all .25s;
  transition: all .25s;
}

@media screen and (min-width: 75rem) {
  .diskounts-top-button {
    display: block;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .diskounts-top-button {
    display: block;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .diskounts-top-button {
    display: block;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .diskounts-top-button {
    display: none;
  }
}

@media screen and (max-width: 36rem) {
  .diskounts-top-button {
    display: none;
  }
}

.diskounts-top-button:hover, .diskounts-top-button:active {
  text-decoration: none !important;
  color: #000000;
}

.diskounts-top-button:hover {
  -webkit-box-shadow: 0 0 0.75rem #75a555;
          box-shadow: 0 0 0.75rem #75a555;
  border: 0.125rem solid #80a759;
}

.diskounts-catalog {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diskounts-catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  float: left;
  gap: 2.41667rem;
  padding-bottom: 1.625rem;
  position: relative;
}

@media screen and (min-width: 75rem) {
  .diskounts-catalog-items {
    max-width: 71.25rem;
    min-width: 71.25rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .diskounts-catalog-items {
    max-width: 60rem;
    min-width: 60rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .diskounts-catalog-items {
    max-width: 45rem;
    min-width: 45rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .diskounts-catalog-items {
    max-width: 33.75rem;
    min-width: 33.75rem;
  }
}

@media screen and (max-width: 36rem) and (min-width: 0px) {
  .diskounts-catalog-items {
    max-width: 22.5rem;
    min-width: 22.5rem;
  }
}

.diskounts-catalog-items::-webkit-scrollbar {
  width: 0.4375rem;
  background: #FFFFFF;
}

.diskounts-catalog-items::-webkit-scrollbar-thumb {
  width: 0.4375rem;
  background: #6E744D;
}

.diskounts-catalog-items::-webkit-scrollbar-button {
  display: none;
}

.diskounts-catalog-button {
  position: absolute;
  top: 46%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 99;
  height: 4.625rem;
  color: #000000;
}

.diskounts-catalog-button-left {
  left: -5rem;
}

.diskounts-catalog-button-right {
  right: -5rem;
}

.catalog {
  margin-top: 5.875rem;
}

.catalog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.375rem;
}

.catalog-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-top__button {
  padding: 0.4375rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 0.125rem solid #a2af6d;
  color: #000000;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.catalog-top__button-img {
  height: 1rem;
  width: auto;
}

.catalog-top__button-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  color: #000000;
}

.catalog-top__button:hover, .catalog-top__button:active {
  color: #000000;
}

.catalog-top__button:hover {
  -webkit-box-shadow: 0 0 1rem #b4e593;
          box-shadow: 0 0 1rem #b4e593;
  border: 0.125rem solid #59743e;
}

.catalog-top__title {
  font-family: 'Buyan';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  isolation: isolate;
}

.catalog-items {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  -webkit-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 2.1875rem;
  grid-auto-flow: dense;
}

.catalog__item {
  position: relative;
  min-width: 16rem;
  max-width: 16rem;
  min-height: 18.125rem;
  max-height: 18.125rem;
  background: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
}

.catalog__item-diskount {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 0.25rem;
  color: #FFFFFF;
  background: #FF6230;
  -webkit-box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.25);
  top: 0.3125rem;
  right: 0.3125rem;
  contain: none;
}

.catalog__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 2.25rem;
  right: 2.5rem;
  top: 1.25rem;
  bottom: 1.25rem;
}

.catalog__item-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #000000;
  width: 90%;
}

.catalog__item-img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.catalog__item-info-volume {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0.0625rem;
}

.catalog__item-info-costs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.catalog__item-info-costs-cost {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}

.catalog__item-info-costs-diskount {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #656565;
  margin-left: 0.625rem;
}

.info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

@media screen and (min-width: 75rem) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .info {
    display: none;
  }
}

@media screen and (max-width: 36rem) {
  .info {
    display: none;
  }
}

.info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-img {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(50%, rgba(0, 0, 0, 0)), to(#FFFFFF)), url("../img/info-img.jpg") 50% 50%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 50%, #FFFFFF 100%), url("../img/info-img.jpg") 50% 50%;
  background-size: cover;
  min-width: 45%;
  height: 17.5rem;
}

.info-text {
  max-width: 50%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #000000;
}

@media screen and (min-width: 75rem) {
  .info-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .info-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .info-text {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .info-text {
    font-size: none;
  }
}

@media screen and (max-width: 36rem) {
  .info-text {
    font-size: none;
  }
}

.row-catalog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.row-catalog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-catalog-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-catalog-top-title {
  font-family: 'Buyan';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.03rem;
  color: #000000;
}

@media screen and (min-width: 75rem) {
  .row-catalog-top-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .row-catalog-top-title {
    font-size: 2.375rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .row-catalog-top-title {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .row-catalog-top-title {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 36rem) {
  .row-catalog-top-title {
    font-size: 2rem;
  }
}

.row-catalog-top-button {
  padding: 0.375rem 1.25rem;
  background: #FFFFFF;
  border: 0.125rem solid #98C967;
  -webkit-box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.08);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  color: #000000;
  text-decoration: none !important;
  cursor: pointer;
  margin-left: 3.125rem;
  -webkit-transition: all .25s;
  transition: all .25s;
}

@media screen and (min-width: 75rem) {
  .row-catalog-top-button {
    display: block;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .row-catalog-top-button {
    display: block;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .row-catalog-top-button {
    display: block;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .row-catalog-top-button {
    display: none;
  }
}

@media screen and (max-width: 36rem) {
  .row-catalog-top-button {
    display: none;
  }
}

.row-catalog-top-button:hover, .row-catalog-top-button:active {
  text-decoration: none !important;
  color: #000000;
}

.row-catalog-top-button:hover {
  -webkit-box-shadow: 0 0 0.75rem #75a555;
          box-shadow: 0 0 0.75rem #75a555;
  border: 0.125rem solid #80a759;
}

.row-catalog-catalog {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-catalog-catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  float: left;
  gap: 2.41667rem;
  padding-bottom: 1.625rem;
  position: relative;
}

@media screen and (min-width: 75rem) {
  .row-catalog-catalog-items {
    max-width: 71.25rem;
    min-width: 71.25rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .row-catalog-catalog-items {
    max-width: 60rem;
    min-width: 60rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .row-catalog-catalog-items {
    max-width: 45rem;
    min-width: 45rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .row-catalog-catalog-items {
    max-width: 33.75rem;
    min-width: 33.75rem;
  }
}

@media screen and (max-width: 36rem) and (min-width: 0px) {
  .row-catalog-catalog-items {
    max-width: 22.5rem;
    min-width: 22.5rem;
  }
}

.row-catalog-catalog-items::-webkit-scrollbar {
  width: 0.4375rem;
  background: #FFFFFF;
}

.row-catalog-catalog-items::-webkit-scrollbar-thumb {
  width: 0.4375rem;
  background: #93DD4A;
}

.row-catalog-catalog-items::-webkit-scrollbar-button {
  display: none;
}

.row-catalog-catalog-button {
  position: absolute;
  top: 46%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 99;
  height: 4.625rem;
  color: #799343;
}

.row-catalog-catalog-button-left {
  left: -5rem;
}

.row-catalog-catalog-button-right {
  right: -5rem;
}

.vacancies {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.vacancies .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vacancies-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vacancies-top-title {
  font-family: 'Buyan';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.03rem;
  color: #000000;
}

@media screen and (min-width: 75rem) {
  .vacancies-top-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .vacancies-top-title {
    font-size: 2.375rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .vacancies-top-title {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .vacancies-top-title {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 36rem) {
  .vacancies-top-title {
    font-size: 2rem;
  }
}

.vacancies-top-button {
  display: none;
  padding: 0.375rem 1.25rem;
  background: none;
  border: 0.125rem solid #98C967;
  -webkit-box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.08);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  color: #000000;
  text-decoration: none !important;
  cursor: pointer;
  margin-left: 3.125rem;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.vacancies-top-button:hover, .vacancies-top-button:active {
  text-decoration: none !important;
  color: #000000;
}

.vacancies-top-button:hover {
  -webkit-box-shadow: 0 0 0.75rem #75a555;
          box-shadow: 0 0 0.75rem #75a555;
  border: 0.125rem solid #80a759;
}

.vacancies-catalog {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vacancies-catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  float: left;
  gap: 2.41667rem;
  padding-bottom: 1.625rem;
  position: relative;
}

@media screen and (min-width: 75rem) {
  .vacancies-catalog-items {
    max-width: 71.25rem;
    min-width: 71.25rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .vacancies-catalog-items {
    max-width: 60rem;
    min-width: 60rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .vacancies-catalog-items {
    max-width: 45rem;
    min-width: 45rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .vacancies-catalog-items {
    max-width: 33.75rem;
    min-width: 33.75rem;
  }
}

@media screen and (max-width: 36rem) and (min-width: 0px) {
  .vacancies-catalog-items {
    max-width: 22.5rem;
    min-width: 22.5rem;
  }
}

.vacancies-catalog-items::-webkit-scrollbar {
  width: 0.4375rem;
  background: #FFFFFF;
}

.vacancies-catalog-items::-webkit-scrollbar-thumb {
  width: 0.4375rem;
  background: #93DD4A;
}

.vacancies-catalog-items::-webkit-scrollbar-button {
  display: none;
}

.vacancies-catalog-button {
  position: absolute;
  top: 46%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 99;
  height: 4.625rem;
  color: #799343;
}

.vacancies-catalog-button-left {
  left: -5rem;
}

.vacancies-catalog-button-right {
  right: -5rem;
}

.vacancies__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem 1.875rem;
  min-width: 16rem;
  min-height: 18.125rem;
  background: url("../img/vacancies-back.jpg") 50% 50%;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
}

.vacancies__item-container {
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vacancies__item-title {
  min-width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 1.125rem;
  color: #FFFFFF;
  text-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.08);
}

.vacancies__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  min-width: 100%;
}

.vacancies__item-info-preexp {
  min-width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #FFFFFF;
}

.vacancies__item-info-wage {
  min-width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
}

.vacancies__item-info-btn {
  display: inline-block;
  max-width: 100%;
  min-width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background: #CBDC88;
  border: 0.125rem solid #a2af6d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 0.9375rem;
  color: #000000;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.vacancies__item-info-btn:hover, .vacancies__item-info-btn:active {
  color: #000;
}

.vacancies__item-info-btn:hover {
  -webkit-box-shadow: 0 0 0.375rem #72ac4c;
          box-shadow: 0 0 0.375rem #72ac4c;
  border: 0.125rem solid #59743e;
}

.footer {
  margin-top: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
  background: #E6FFC6;
  border-top: solid 0.125rem #73FF42;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

@media screen and (min-width: 75rem) {
  .footer-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .footer-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .footer-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 36rem) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 75rem) {
  .footer-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .footer-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .footer-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .footer-top {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (max-width: 36rem) {
  .footer-top {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 75rem) {
  .footer-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .footer-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .footer-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .footer-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 36rem) {
  .footer-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-top-buttons {
  margin: 0;
  padding: 0;
  margin-top: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

@media screen and (min-width: 75rem) {
  .footer-top-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .footer-top-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .footer-top-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .footer-top-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 36rem) {
  .footer-top-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 75rem) {
  .footer-top-buttons {
    gap: 2.5rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .footer-top-buttons {
    gap: 2.5rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .footer-top-buttons {
    gap: 2.5rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .footer-top-buttons {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 36rem) {
  .footer-top-buttons {
    gap: 0.375rem;
  }
}

.footer-top-buttons-item {
  color: #000;
  text-decoration: none !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  padding: 0.25rem 0;
}

.footer-top-buttons-item::before, .footer-top-buttons-item:active, .footer-top-buttons-item:hover {
  color: #000000;
  text-decoration: none;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 75rem) {
  .footer-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .footer-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .footer-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 36rem) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 75rem) {
  .footer-bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .footer-bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .footer-bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .footer-bottom {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 36rem) {
  .footer-bottom {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 75rem) {
  .footer-bottom {
    gap: 3.125rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .footer-bottom {
    gap: 3.125rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .footer-bottom {
    gap: 3.125rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .footer-bottom {
    gap: 0.625rem;
  }
}

@media screen and (max-width: 36rem) {
  .footer-bottom {
    gap: 0.625rem;
  }
}

@media screen and (min-width: 75rem) {
  .footer-bottom {
    height: 1.875rem;
  }
}

@media screen and (min-width: 62rem) and (max-width: 75rem) {
  .footer-bottom {
    height: 1.875rem;
  }
}

@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .footer-bottom {
    height: 1.875rem;
  }
}

@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .footer-bottom {
    height: auto;
  }
}

@media screen and (max-width: 36rem) {
  .footer-bottom {
    height: auto;
  }
}

.footer-bottom-viewMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom-viewMap-icon {
  width: auto;
  height: 1.5rem;
}

.footer-bottom-viewMap .anim-link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#656565));
  background-image: linear-gradient(#656565, #656565);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.0625rem;
  -webkit-transition: background-size .2s;
  transition: background-size .2s;
}

.footer-bottom-viewMap .anim-link:hover {
  background-size: 100% 0.0625rem;
  color: inherit;
}

.footer-bottom-viewMap-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.footer-bottom-viewMap::before, .footer-bottom-viewMap:active, .footer-bottom-viewMap:hover {
  color: #000000;
  text-decoration: none;
}

.footer-bottom-schedule {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}

.footer-bottom-socNets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.footer-bottom-socNets > * {
  height: 100%;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer-bottom-socNets > *:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
/*# sourceMappingURL=style.css.map */